<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>PC components</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__title">
                <div class="header__name">SKLAD</div>
                <form class="header__search">
                    <div class="search__place">
                        <input type="text" placeholder="Search"></div>
                    <div class="search__button">
                        <button class="search__icon"></button>
                    </div>
                </form>
                <nav class="header__navbar">
                    <a href="#" class="navbar__link">ABOUT</a>
                    <a href="#" class="navbar__link">CONTACT</a>
                    <a href="#" class="navbar__link">WORK</a>
                    <a href="/basket" class="navbar__link"></a>
                </nav>
            </div>
            <div class="header__image"></div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__row">
                <div class="main__navigation">
                    <a class="navigation__item" href="#">
                        <div class="item__icon">
                            <img src="/img/navigation/cpu-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">CPU</div>
                    </a>
                    <a class="navigation__item" href="#">
                        <div class="item__icon">
                            <img src="/img/navigation/motherboard-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">Motherboard</div>
                    </a>
                    <a class="navigation__item" href="#">
                        <div class="item__icon">
                            <img src="/img/navigation/video-card-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">Graphic card</div>
                    </a>
                    <a class="navigation__item" href="#">
                        <div class="item__icon">
                            <img src="/img/navigation/ram-memory-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">RAM</div>
                    </a>
                    <a class="navigation__item" href="#">
                        <div class="item__icon">
                            <img src="/img/navigation/power-supply-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">Power PC</div>
                    </a>
                    <a class="navigation__item" href="#">
                        <div class="item__icon">
                            <img src="/img/navigation/pc-case-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">PC case</div>
                    </a>
                    <a class="navigation__item" href="#">
                        <div class="item__icon">
                            <img src="/img/navigation/hdd-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">HDD</div>
                    </a>
                    <a class="navigation__item" href="#">
                        <div class="item__icon">
                            <img src="/img/navigation/ssd-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">SSD</div>
                    </a>
                </div>
                <div class="main__products">
                    <div class="products__filters">
                        <div class="filters">
                            <div class="filters__title">Фильтры</div>
                            <div class="filters__content"></div>
                        </div>
                    </div>
                    <div class="products__content">
                        <div class="products__title">
                            <div class="title">
                                <div class="title__text">Компонент</div>
                            </div>
                        </div>
                        <div class="products__info">
                            <div class="info">
                                <div class="info__row">
                                    <div class="info__column">
                                        <div class="info__component">
                                            <div class="component__row">
                                                <div class="component__image"></div>
                                                <div class="component__title"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info__column">
                                        <div class="info__component">
                                            <div class="component__row">
                                                <div class="component__image"></div>
                                                <div class="component__title"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info__column">
                                        <div class="info__component">
                                            <div class="component__row">
                                                <div class="component__image"></div>
                                                <div class="component__title"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info__column">
                                        <div class="info__component">
                                            <div class="component__row">
                                                <div class="component__image"></div>
                                                <div class="component__title"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info__column">
                                        <div class="info__component">
                                            <div class="component__row">
                                                <div class="component__image"></div>
                                                <div class="component__title"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info__column">
                                        <div class="info__component">
                                            <div class="component__row">
                                                <div class="component__image"></div>
                                                <div class="component__title"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info__column">
                                        <div class="info__component">
                                            <div class="component__row">
                                                <div class="component__image"></div>
                                                <div class="component__title"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info__column">
                                        <div class="info__component">
                                            <div class="component__row">
                                                <div class="component__image"></div>
                                                <div class="component__title"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__text">Design and functionality developed by Alexander Antonyuk</div></div></footer>
</div>
</body>
</html>