<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>PC components</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__title">
                <div class="header__name">SKLAD</div>
                <form class="header__search">
                    <div class="search__place">
                        <input type="text" placeholder="Search"></div>
                    <div class="search__button"></div>
                    <a href="#" class="search__icon">
                        <img src="/static/img/header/loupe_2.svg" width="15px" height="15px">
                    </a>
                </form>
                <div class="header__navbar">
                    <a href="#" class="navbar__link">
                        <div class="navbar__info">ABOUT</div>
                    </a>
                    <a href="#" class="navbar__link">
                        <div class="navbar__info">CONTACT</div>
                    </a>
                    <a href="#" class="navbar__link">
                        <div class="navbar__info">WORK</div>
                    </a>
                    <a href="/basket" class="navbar__link">
                        <div class="navbar__info">
                            <img src="/static/img/header/cart-image.svg" width="65" height="65">
                        </div>
                    </a>
                </div>
            </div>
            <div class="header__image"></div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__row">
                <div class="main__navigation">
                    <a class="navigation__item" th:href="@{/{page}(page=cpu)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/cpu-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">CPU</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=motherboard)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/motherboard-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">Motherboard</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=graphic_card)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/video-card-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">Graphic card</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=ram)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/ram-memory-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">RAM</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=power_pc)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/power-supply-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">Power PC</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=case_pc)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/pc-case-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">PC case</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=hdd)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/hdd-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">HDD</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=ssd)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/ssd-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">SSD</div>
                    </a>
                </div>
                <div class="main__products" >
                    <img src="/static/img/photo_1.jpg" width="1160px" height="480px" alt="error">
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__text">Design and functionality developed by Alexander Antonyuk</div>
        </div>
    </footer>
</div>
</body>
</html>