<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/template.css">
    <title>PC components</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__title">
                <div class="header__name"><a href="/">SKLAD</a></div>
                <form class="header__search">
                    <div class="search__place">
                        <input type="text" placeholder="Search"></div>
                    <div class="search__button"></div>
                    <a href="#" class="search__icon">
                        <img src="/static/img/header/loupe_2.svg" width="15px" height="15px">
                    </a>
                </form>
                <div class="header__navbar">
                    <a href="#" class="navbar__link">
                        <div class="navbar__info">ABOUT</div>
                    </a>
                    <a href="#" class="navbar__link">
                        <div class="navbar__info">CONTACT</div>
                    </a>
                    <a href="#" class="navbar__link">
                        <div class="navbar__info">WORK</div>
                    </a>
                    <a href="/basket" class="navbar__link">
                        <div class="navbar__info">
                            <img src="/static/img/header/cart-image.svg" width="65" height="65">
                        </div>
                    </a>
                </div>
            </div>
            <div class="header__image"></div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__row">
                <div class="main__navigation">
                    <a class="navigation__item" th:href="@{/{page}(page=cpu)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/cpu-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">CPU</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=motherboard)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/motherboard-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">Motherboard</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=graphic_card)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/video-card-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">Graphic card</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=ram)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/ram-memory-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">RAM</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=power_pc)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/power-supply-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">Power PC</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=case_pc)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/pc-case-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">PC case</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=hdd)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/hdd-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">HDD</div>
                    </a>
                    <a class="navigation__item" th:href="@{/{page}(page=ssd)}">
                        <div class="item__icon">
                            <img src="/static/img/main/navigation/ssd-image.svg" width="55px" height="55px">
                        </div>
                        <div class="item__title">SSD</div>
                    </a>
                </div>
                <div class="main__products">
                    <div class="products__filters">
                        <div class="filters__row">
                            <div class="filters__title">Фильтры</div>
                            <div class="filters__content">Контент
                            </div>
                        </div>
                    </div>
                    <div class="products__content">
                        <div class="products__row">
                            <div class="products__title">
                                <div class="title">
                                    <div class="title__text" th:text="${component.get(0).getTitle()}+s"></div>
                                </div>
                            </div>
                            <div class="products__info">
                                <form th:method="GET" th:object="${component}">
                                    <div class="info">
                                        <div class="info__row">
                                            <a class="info__reference" th:href="@{/{page}/{id}(page=${component.get(0).getName()}, id=${component.get(0).getId()})}">
                                                <div class="info__column">
                                                    <div class="info__component">
                                                        <div class="component__row">
                                                            <div class="component__image">
                                                                <img th:src="${component.get(0).getImage()}"
                                                                     th:width="${width}"
                                                                     th:height="${height}">
                                                            </div>
                                                            <div class="component__title"
                                                                 th:text="${component.get(0).getSubtitle()}"></div>
                                                            <div class="component__price"
                                                                 th:text="${component.get(0).getPrice()}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="info__reference" th:href="@{/{page}/{id}(page=${component.get(1).getName()}, id=${component.get(1).getId()})}">
                                                <div class="info__column">
                                                    <div class="info__component">
                                                        <div class="component__row">
                                                            <div class="component__image">
                                                                <img th:src="${component.get(1).getImage()}"
                                                                     th:width="${width}"
                                                                     th:height="${height}">
                                                            </div>
                                                            <div class="component__title"
                                                                 th:text="${component.get(1).getSubtitle()}"></div>
                                                            <div class="component__price"
                                                                 th:text="${component.get(1).getPrice()}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="info__reference" th:href="@{/{page}/{id}(page=${component.get(2).getName()}, id=${component.get(2).getId()})}">
                                                <div class="info__column">
                                                    <div class="info__component">
                                                        <div class="component__row">
                                                            <div class="component__image">
                                                                <img th:src="${component.get(2).getImage()}"
                                                                     th:width="${width}"
                                                                     th:height="${height}">
                                                            </div>
                                                            <div class="component__title"
                                                                 th:text="${component.get(2).getSubtitle()}"></div>
                                                            <div class="component__price"
                                                                 th:text="${component.get(2).getPrice()}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="info__reference" th:href="@{/{page}/{id}(page=${component.get(3).getName()}, id=${component.get(3).getId()})}">
                                                <div class="info__column">
                                                    <div class="info__component">
                                                        <div class="component__row">
                                                            <div class="component__image">
                                                                <img th:src="${component.get(3).getImage()}"
                                                                     th:width="${width}"
                                                                     th:height="${height}">
                                                            </div>
                                                            <div class="component__title"
                                                                 th:text="${component.get(3).getSubtitle()}"></div>
                                                            <div class="component__price"
                                                                 th:text="${component.get(3).getPrice()}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="info__reference" th:href="@{/{page}/{id}(page=${component.get(4).getName()}, id=${component.get(4).getId()})}">
                                                <div class="info__column">
                                                    <div class="info__component">
                                                        <div class="component__row">
                                                            <div class="component__image">
                                                                <img th:src="${component.get(4).getImage()}"
                                                                     th:width="${width}"
                                                                     th:height="${height}">
                                                            </div>
                                                            <div class="component__title"
                                                                 th:text="${component.get(4).getSubtitle()}"></div>
                                                            <div class="component__price"
                                                                 th:text="${component.get(5).getPrice()}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="info__reference" th:href="@{/{page}/{id}(page=${component.get(5).getName()}, id=${component.get(5).getId()})}">
                                                <div class="info__column">
                                                    <div class="info__component">
                                                        <div class="component__row">
                                                            <div class="component__image">
                                                                <img th:src="${component.get(5).getImage()}"
                                                                     th:width="${width}"
                                                                     th:height="${height}">
                                                            </div>
                                                            <div class="component__title"
                                                                 th:text="${component.get(5).getSubtitle()}"></div>
                                                            <div class="component__price"
                                                                 th:text="${component.get(5).getPrice()}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="info__reference" th:href="@{/{page}/{id}(page=${component.get(6).getName()}, id=${component.get(6).getId()})}">
                                                <div class="info__column">
                                                    <div class="info__component">
                                                        <div class="component__row">
                                                            <div class="component__image">
                                                                <img th:src="${component.get(6).getImage()}"
                                                                     th:width="${width}"
                                                                     th:height="${height}">
                                                            </div>
                                                            <div class="component__title"
                                                                 th:text="${component.get(6).getSubtitle()}"></div>
                                                            <div class="component__price"
                                                                 th:text="${component.get(6).getPrice()}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="info__reference" th:href="@{/{page}/{id}(page=${component.get(7).getName()}, id=${component.get(7).getId()})}">
                                                <div class="info__column">
                                                    <div class="info__component">
                                                        <div class="component__row">
                                                            <div class="component__image">
                                                                <img th:src="${component.get(7).getImage()}"
                                                                     th:width="${width}"
                                                                     th:height="${height}">
                                                            </div>
                                                            <div class="component__title"
                                                                 th:text="${component.get(7).getSubtitle()}"></div>
                                                            <div class="component__price"
                                                                 th:text="${component.get(7).getPrice()}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__text">Design and functionality developed by Alexander Antonyuk</div>
        </div>
    </footer>
</div>
</body>
</html>