<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<form th:method="GET" th:object="${cases}">
  <div th:border="1">
      <img th:src="${cases.get(0).getImage()}" width="150" height="150">
      <img th:src="${cases.get(1).getImage()}" width="150" height="150">
      <img th:src="${cases.get(2).getImage()}" width="150" height="150">
      <img th:src="${cases.get(3).getImage()}" width="150" height="150">
      <img th:src="${cases.get(4).getImage()}" width="150" height="150">
  </div>
</form>
</body>
</html>