@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap");
/*//////////////////////////////////////*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*////////////////////////////////////////////////////*/
body {
  background-color: cadetblue;
}

.wrapper {
  background: url("../img/main-image.jpg") 50%/cover no-repeat;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  min-width: 1000px;
  margin: 0 auto;
}

.header__title {
  padding: 30px 45px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__name {
  font-family: "Montserrat";
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  text-shadow: 0 0 10px black;
}
.header__name a:visited {
  color: white;
}
.header__search {
  margin-left: 185px;
  position: relative;
}
.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__image {
  background-color: firebrick;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 50px;
  height: 20px;
}

.search__place input {
  opacity: 0.5;
  padding: 0 0 0 15px;
  border-radius: 10px;
  width: 300px;
  height: 40px;
}
.search__place input:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}
.search__place input:focus {
  opacity: 1;
  -webkit-box-shadow: 0 3px 10px black;
          box-shadow: 0 3px 10px black;
}
.search__icon {
  opacity: 0.5;
  display: block;
  position: absolute;
  top: 13px;
  right: 20px;
}
.search__icon:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}
.search__icon:focus {
  opacity: 1;
}

.navbar__link {
  position: relative;
}
.navbar__link:hover {
  color: salmon;
  font-size: 15px;
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}
.navbar__link:nth-child(4) {
  width: 65px;
  height: 65px;
  margin: -30px 0 0 0;
}
.navbar__link:nth-child(4):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}
.navbar__info {
  color: white;
  padding: 10px 0 0 0;
  text-align: center;
  width: 80px;
  height: 30px;
}

.main {
  margin: 20px 0 0 0;
}
.main__row {
  border: 2px solid white;
  background: rgba(255, 210, 237, 0.37);
  padding: 5px 0 0 0;
  -webkit-box-shadow: 0 2px 10px black;
          box-shadow: 0 2px 10px black;
  border-radius: 25px;
  height: 670px;
}
.main__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1170px;
  margin: 20px 0 35px 20px;
  border-radius: 20px;
}
.main__products {
  overflow: hidden;
  border-radius: 20px;
  margin: -10px auto;
  -webkit-box-shadow: 0 2px 15px black;
          box-shadow: 0 2px 15px black;
  width: 960px;
  height: 480px;
  border: 3px solid white;
}

.navigation__item {
  border: 2px solid white;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  background-color: lightblue;
  font-family: "Lato";
  padding-top: 15px;
  margin: 0 10px 0 0;
  width: 150px;
  height: 115px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
}
.navigation__item:hover {
  width: 165px;
  background-color: rgba(167, 242, 252, 0.83);
  border: hidden;
  font-size: 20px;
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.item__icon {
  text-align: center;
}
.item__title {
  color: white;
  padding: 10px 0 0 0;
  text-align: center;
}

.products__row {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products__photo {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  overflow: hidden;
  border-radius: 20px;
  margin: -20px 0 0 100px;
  width: 350px;
  height: 350px;
  border: 2px solid white;
}
.products__description {
  text-align: center;
  background-color: navajowhite;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 20px;
  margin: 20px auto;
  width: 400px;
  height: 400px;
  border: 2px solid white;
}

.description_row {
  color: white;
  font-family: "Montserrat";
  text-shadow: 0 0 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  min-height: 100%;
}
.description__title {
  text-decoration: underline;
  font-size: 34px;
  font-weight: 700;
}
.description__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}
.description__price {
  color: yellow;
  text-shadow: 0 0 10px black;
  font-weight: 700;
  font-size: 34px;
}

.footer {
  height: 110px;
  padding-top: 2%;
}
.footer__text {
  text-shadow: 0 0 10px black;
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
}