@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap");
/*//////////////////////////////////////*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*////////////////////////////////////////////////////*/
body {
  background-color: cadetblue;
}

.wrapper {
  background: url("../img/main-image.jpg") 50%/cover no-repeat;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  min-width: 1000px;
  margin: 0 auto;
}

.header__title {
  padding: 30px 45px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__name {
  font-family: "Montserrat";
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  text-shadow: 0 0 10px black;
}
.header__search {
  margin-left: 185px;
  position: relative;
}
.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__image {
  background-color: firebrick;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 50px;
  height: 20px;
}

.search__place input {
  opacity: 0.5;
  padding: 0 0 0 15px;
  border-radius: 10px;
  width: 300px;
  height: 40px;
}
.search__place input:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}
.search__place input:focus {
  opacity: 1;
  -webkit-box-shadow: 0 3px 10px black;
          box-shadow: 0 3px 10px black;
}
.search__icon {
  opacity: 0.5;
  display: block;
  position: absolute;
  top: 13px;
  right: 20px;
}
.search__icon:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}
.search__icon:focus {
  opacity: 1;
}

.navbar__link {
  position: relative;
}
.navbar__link:hover {
  color: salmon;
  font-size: 15px;
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}
.navbar__link:nth-child(4) {
  width: 65px;
  height: 65px;
  margin: -30px 0 0 0;
}
.navbar__link:nth-child(4):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}
.navbar__info {
  color: white;
  padding: 10px 0 0 0;
  text-align: center;
  width: 80px;
  height: 30px;
}

.main {
  margin: 20px 0 0 0;
}
.main__row {
  border: 2px solid white;
  background: rgba(255, 210, 237, 0.37);
  padding: 5px 0 0 0;
  -webkit-box-shadow: 0 2px 3px black;
          box-shadow: 0 2px 3px black;
  border-radius: 25px;
  height: 670px;
}
.main__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1172px;
  margin: 20px 0 35px 20px;
  border-radius: 20px;
}
.main__products {
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -10px 20px 20px 20px;
  -webkit-box-shadow: 0 2px 7px black;
          box-shadow: 0 2px 7px black;
  width: 1160px;
  height: 480px;
  border: 2px solid white;
}

.navigation__item {
  border: 2px solid white;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  background-color: lightblue;
  font-family: "Lato";
  padding-top: 15px;
  margin: 0 10px 0 0;
  width: 150px;
  height: 115px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
}
.navigation__item:hover {
  width: 165px;
  background-color: rgba(167, 242, 252, 0.83);
  border: hidden;
  font-size: 20px;
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.item__icon {
  text-align: center;
}
.item__title {
  color: white;
  padding: 10px 0 0 0;
  text-align: center;
}

.products__filters {
  text-align: center;
  width: 200px;
  height: 470px;
}
.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products__content {
  text-align: center;
  width: 960px;
  height: 480px;
}
.products__title {
  text-align: center;
  width: 945px;
  height: 50px;
}
.products__info {
  text-align: center;
  width: 945px;
  height: 429px;
}

.filters__row {
  margin-left: 10px;
  padding: 17px 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.filters__title {
  -webkit-box-shadow: 0 1px 5px black;
          box-shadow: 0 1px 5px black;
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid #000;
  border-radius: 10px;
  height: 35px;
}
.filters__content {
  -webkit-box-shadow: 0 1px 5px black;
          box-shadow: 0 1px 5px black;
  background-color: rgba(255, 255, 255, 0.65);
  margin: 15px 0 0 0;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.title {
  -webkit-box-shadow: 0 1px 5px black;
          box-shadow: 0 1px 5px black;
  background-color: rgba(255, 255, 255, 0.65);
  overflow: hidden;
  margin: 15px 15px;
  border-radius: 10px;
  border: 1px solid #000;
}
.title__text {
  text-shadow: 0 1px 2px black;
  color: lightseagreen;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 30px;
  width: 900px;
  height: 35px;
}

.info {
  margin: 5px;
}
.info__row {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 926px;
  height: 405px;
}
.info__reference {
  border: 2px solid ghostwhite;
  background-color: skyblue;
  overflow: hidden;
  width: 150px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
  margin: 8px;
  height: 180px;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 7px black;
          box-shadow: 0 2px 7px black;
}
.info__reference:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}
.info__reference:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
  color: white;
  border: 3px solid #000;
  -webkit-box-shadow: 0 4px 10px black;
          box-shadow: 0 4px 10px black;
}
.component__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.component__image {
  background-color: white;
}
.component__title {
  padding: 5px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 5px black;
  font-family: "Lato";
  font-size: 14px;
}
.component__price {
  padding: 5px 0 0 0;
  color: yellow;
  text-shadow: 1px -1px 3px black;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 25px;
}

.footer {
  height: 110px;
  padding-top: 2%;
}
.footer__text {
  text-shadow: 0 0 10px black;
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
}